body {
  overflow-y: scroll;
}

.text-center {
  position: relative;
}

.container {
  
}

h1 {
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #ffffff;
}

p {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, 0.7);
  margin-top: -20px;
}

.first-screen {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  top: 50%;
  position: absolute;
}

@keyframes narEnter {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes descriptionEnter {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

.title-screen {
  font-size: 20vw;
  padding: 0;
  margin: 0;
  animation: narEnter 3s ease-out forwards;
}

.description-screen {
  transform: translateY(-70vh);
  font-size: 10vw;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 3px rgba(255, 255, 255, 0.7);
  animation: descriptionEnter 3s ease-out forwards;
  position: absolute  ;
}