@tailwind base;
@tailwind components;
@tailwind utilities;

.game-section {
    padding-top: 100px;
    display: flex;
    color: black;
    justify-content: center;
}

@keyframes shake {
  0% { transform: translate(2px, 0); }
  25% { transform: translate(-2px, 0); }
  50% { transform: translate(2px, 0); }
  75% { transform: translate(-2px, 0); }
  100% { transform: translate(0, 0); }
}

.shake {
  animation: shake 0.1s ease-in-out;
}
